@define-mixin atSmall{
	@media(min-width:  456px)
	{
		@mixin-content;
	}
}

@define-mixin atMedium
{
	@media(min-width: 689px)
	{
		@mixin-content;
	}
}

@define-mixin atLarge
{
	@media(min-width: 993px)
	{
		@mixin-content
	}
}

@define-mixin atLarger
{
	@media(min-width: 1491px)
	{
		@mixin-content;
	}
}

@define-mixin clearfix{
	&::after{
		content: '';
		clear: both;
		display: table;
	}
}


@define-mixin firaSans-Font $important{
	font-family: 'Fira Sans', sans-serif $important;
}

@define-mixin nunitoSans-Font $important{
	font-family: 'Nunito Sans', sans-serif $important;
}
