.hot-news-slider
{
	& .glide{
		height: 50px;
	}

	&--p-y-0{
		padding-top: 0;
		padding-bottom: 0;
	}

	&__title{
		font-weight: 600;
		font-size: 1rem;
		line-height: 23px;
		transform: skew(-3deg);
	}

	a:hover{
		color: #000;
	}

	a{
		color: #000;
	}

	&--large-m-t{
		margin-top: 150px;
		background-color: #F1F1F1;
		
	}
	text-align: center;
	
	& .glide__track{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	

	



	& .glide__arrow--left
	{
		height: 100%;
		width: 25%;
		z-index: 10;
		background: #F1F1F1;
		border-style: none;
		left: 0;
		box-shadow: none;
		color: black;
		
		p{
			float: right;
		}
	}

	&__arrow-general{
		font-size: 1rem;
		font-weight: 700;
		color: rgba(0, 0, 0, .5);

	}

	&__arrow-general:hover{
		color: black;
	}

	& .glide__arrow--right{
		height: 100%;
		width: 25%;
		z-index: 10;
		background: #F1F1F1;
		border-style: none;
		right: 0;
		box-shadow: none;
		color: black;

		p{
			float: left;
		}
	}

	


	

}