.navbar-header{

	&--line{
		border-right: #e3e2e2 2px solid;
		height: 23px;
		position: relative;
		right: 1rem;
	}
	&__group-menu{
		position: relative;
		top: 3px;

		ul{
			position: relative;
			padding-right: 0;
			padding-left: 0;
			text-align: center;
			right: 1rem;
		}

		li:not(:last-child){
			padding-right: 10px;
		}

		li:nth-child(7){
			padding-right: 18px;
		}

		i{
			font-size: 15px;
			position: relative;
			right: 0.175rem;
			padding: 0 0.6rem;
		}
		
	}


	

	&__logo-brand{
		position: relative;
		text-align: center;
		left: 0.5rem;
		bottom: 0.3rem;
	}
	

	.search-form{
		top: 1.375rem;
	}
	
	
}