.row{
	@mixin clearfix;

	&--t-padding
	{
		padding-top: 50px;
	}

	@mixin atLarge{
		&--large-4{
			float: left;
			width: 33.33%;
		}

		&--large-2{
			float: left;
			width: 16.66%;
		}

		&--large-5{
			float: left;
			width: 41.66%;
		}

		&--large-6{
			float: left;
			width: 50%;
		}

		&--large-3{
			float: left;
			width: 25%;
		}
	}
}