.search-form{
	position: relative;
	
	&--icon{
		display: inline-block;
		position: absolute;
		transform: translateY(50%);
		right: 0;
		margin-right: 245px;

		i{
			
			color: rgba(0, 0, 0, .6);
			font-size: 1.1rem;
		}
	}

	&--text-input{
		display: inline-block;
		
		input {

			height: 40px;
			width: 281px;
			padding-left: 1.875rem;
			font-size: 0.75rem;
			border: 1px solid rgba(0, 0, 0, .2);
		}
		input:focus{
			outline: none;
			border: 1px solid rgba(0, 0, 255, .45);
			box-shadow:  0 0 8px 2px rgba(173, 216, 230, 0.6);
		}


		
	}
}